*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow: none;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}
.navContainer{
    width: 100vw;
    /* background-color: bisque; */
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav{
    width: 100%;
    padding: 10px;
}

#navLogo{
    font-size: 2.5rem;
    color: white ;
}
#navList{
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

#navItems{
    display: flex;
    gap: 10px;
}

.contentBox{
    width: 50%;
    margin: auto;
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    box-shadow: 0px 0px 30px black;
}

.item1{
    display: flex;
    justify-content: space-around;
}

.rightBox{
    position: relative;
    overflow: hidden;
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 100%;
    background-color: rgba(82, 80, 80, 0.633);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.rightBox:hover .overlay{
    opacity: 1;
    transition: all 0.5s linear 0s;
}

.rightBox .overlay span{
    color: white;
    font-size: 1.1rem;

}

.rightBox img{
    height: 350px;
    width: 210px;
    border-radius: 5px;
}

.rightBox:hover{
    transform: scale(1.1);
    transition: all 0.5s linear 0s;
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2{
    font-size: 2rem;
}

.item2{
    display: flex;
    justify-content: space-around;
}
.footerBox{
    
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    min-height: 30px;
    text-align: center;
    
}
.footerBox p{
    color: rgb(234, 245, 182);
    font-size: 1.5rem;
}



a{
    color: rgb(234, 245, 182);
    text-decoration: none;
}
